<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Dashboard Admin</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/" />

        <!-- Bootstrap core CSS -->
        <link href="/admins/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
        <!-- <script src="feather.min.js"></script> -->
        <link href="/admins/css/dashboard.css" rel="stylesheet" />
        <link href="/admins/css/dashboard.css" rel="stylesheet" />
        <link rel="stylesheet" href="/admins/ti-icons/css/themify-icons.css" />

        <link rel="stylesheet" href="/admins/fontawesome/css/all.min.css" />
        <script src="/admins/ckeditor/ckeditor.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <style></style>
    </head>
    <body>
        <div th:replace="admin/fragments/nav:: nav"></div>
        <div class="container-fluid">
            <div class="row">
                <div id="sidebar" th:replace="admin/fragments/sidebar:: sidebar"></div>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="min-height: 88vh">
                    <div layout:fragment="content" class="content mx-2 my-2 shadow"></div>
                </main>
            </div>
        </div>
        <script src="/admins/assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/admins/css/dashboard.js"></script>
    </body>
</html>
