<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web/webLayout.html}"
>
    <head>
        <script src="/web/js/cart.js"></script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="cart" id="cart">
                <div class="container">
                    <div class="row">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row mb-2">
                                <div class="col">
                                    <h3>Cart</h3>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <a href="">Delete All</a>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-end">
                                        <div class="download-quote">
                                            <button type="button" class="btn btn-sm btn-light border">
                                                Download
                                                <i class="arrow"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">PDF</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 cart-items">
                            <table class="table bg-white">
                                <thead>
                                    <tr>
                                        <th scope="col-1">
                                            <input type="checkbox" class="form-check-input" checked />
                                        </th>
                                        <th scope="col-2">Image</th>
                                        <th scope="col-4">Spring Shop</th>
                                        <th scope="col-3">Quantity</th>
                                        <th scope="col-1">Price</th>
                                        <th scope="col-1">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><input type="checkbox" class="form-check-input" checked /></th>

                                        <td>
                                            <img
                                                src="https://lh3.googleusercontent.com/H748rHBN_hG0Mi8Fbx0bWQJTef7EATgL4nNhM55UoxzdEg8gZL5Uv0BFpd2iyyXJpmmtnZuFwgsusXjYdtzdt5f44yvF9JZN=w1000-rw"
                                                class="img-fluid border"
                                                alt="product"
                                            />
                                        </td>
                                        <td>
                                            <div>
                                                <p class="product-name">
                                                    MacBook Air 2020 13.3 inch MGN93SA/A (M1/8GB/SSD/256GB) (Bạc)
                                                </p>
                                                <p class="sku text-secondary">SKU: 201201615</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <button
                                                    id="decrease"
                                                    class="btn btn-sm"
                                                    onclick="handleQuantityChange('decrease')"
                                                >
                                                    -
                                                </button>
                                                <input
                                                    type="text"
                                                    class="quantity form-control form-control-sm"
                                                    id="quantity"
                                                    value="1"
                                                />
                                                <button
                                                    id="increase"
                                                    class="btn btn-sm"
                                                    onclick="handleQuantityChange('increase')"
                                                >
                                                    +
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="product-price-discount">18.590.000₫</p>
                                            <p class="product-price"><del>28.990.000₫ </del></p>
                                        </td>
                                        <td>
                                            <p class="amount">18.590.000</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-4">
                            <div class="card cart-promotion">
                                <div class="card-header">
                                    <h6>Khuyến mãi</h6>
                                    <a href=""> Chọn hoặc nhập khuyến mãi </a>
                                </div>
                                <div class="card-body">
                                    <p>Đơn hàng chưa đủ điều kiện áp dụng khuyến mãi. Vui lòng mua thêm để áp dụng.</p>
                                </div>
                            </div>
                            <div class="card cart-payment mt-3">
                                <div class="card-header">
                                    <h6>Thanh toán</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <p>Tổng tạm tính</p>
                                        </div>
                                        <div class="col-5 text-right">
                                            <p class="subtotal"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-7">
                                            <p>Thành tiền</p>
                                        </div>
                                        <div class="col-5 text-right">
                                            <p class="into-money text-danger">18.590.000đ</p>
                                            <span class="text-secondary">(Đã bao gồm VAT)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-center">
                                    <button class="btn btn-sm btn-primary btn-block btn-pay">
                                        THANH TOÁN
                                        <br />
                                        <span class="smaller">Bạn cần đăng nhập để tiếp tục</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
