<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>springshop</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css"
        />

        <!-- Vendor CSS Files -->
        <link href="/web/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/web/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="/web/css/style.css" />

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <!--Header-->
        <div th:replace="web/fragments/header:: header"></div>
        <!--End Header-->

        <!--Body Content-->
        <div class="main" id="main">
            <div layout:fragment="content"></div>
        </div>
        <!--End Body Content-->

        <!--Footer-->
        <div th:replace="web/fragments/footer:: footer"></div>
        <!--Scoll Top-->

        <script src="/web/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
        <!-- Template Main JS File -->
        <script type="module" th:src="@{/web/js/main.js}"></script>
    </body>
</html>
