<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}"
>
    <head></head>
    <body>
        <div layout:fragment="content">
            <div class="text-center">
                <div class="error mx-auto" data-text="404">
                    <p class="lead text-gray-800 mb-5">Cloudinary Errors</p>
                    <p class="text-gray-500 mb-0" th:text="${errorMessage}"></p>
                    <a th:href="@{/admin}">&larr; Back to Dashboard</a>
                </div>
            </div>
        </div>
    </body>
</html>
