<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/dashboardLayout.html}"
>
<head></head>
<body>
<div layout:fragment="content">
    <div class="text-center">
        <div class="error mx-auto" data-text="404">Clodbinary Error</div>
        <div id="error-message" th:text="${errorMessage}"></div>
        <div class="form-group">
            <a th:href="@{/admin}">&larr; Back to Dashboard</a>
        </div>
    </div>
</div>
</body>
</html>
