<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="footer">
            <footer id="footer">
                <div class="container d-md-flex py-4">
                    <div class="me-md-auto text-center text-md-start">
                        <div class="copyright">
                            &copy; Copyright <strong><span>Company</span></strong
                            >. All Rights Reserved
                        </div>
                        <div class="credits">Designed by <a>Phạm Hồng Quân</a></div>
                    </div>
                    <div class="social-links text-center text-md-right pt-3 pt-md-0">
                        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
