<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="header">
            <header id="header" class="fixed-top">
                <div class="container d-flex align-items-center">
                    <h1 class="logo me-auto">
                        <a href=""><span>Spring</span>Shop</a>
                    </h1>
                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a href="" class="active">Home</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav>
                    <!-- .navbar -->

                    <div class="header-social-links d-flex">
                        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
                    </div>
                    <div class="header-cart d-flex">
                        <button class="btn" type="submit">
                            <i class="bi-cart-fill bg-light me-1"></i>
                            <span class="bg-dark text-white ms-1 rounded-pill" id="cart-item-count">0</span>
                        </button>

                        <div id="success-message-container">
                            <div id="success-message" class="d-flex align-items-center">
                                <i class="bi bi-check-circle-fill success-icon"></i>
                                <span id="success-message-text"></span>
                            </div>
                        </div>
                        <div id="cart-dropdown" class="cart-dropdown">
                            <div id="cart-items" class="cart-items"></div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->
        </div>
    </body>
</html>
