<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
    <link rel="stylesheet" href="/css/categories.css" />
  </head>
<body>
  <div layout:fragment="content">
    <div th:if="${message != null}" class="alert alert-primary" role="alert">
        <i>[[${message}]]</i>
    </div>
    <div class="row mt-2 ml-2 mb-2">
            <div class="float-left">
                
            </div>
            
      </div>
        <div class="shadow mb-4" >
          <div class="card-header bg-white">
            <h1 class="h3 mb-0 text-gray-800 text-center">List Categories</h1>
          </div>
            <div class="card-body">
                <div class="row mt-2 mb-2">
                  <div class="col">
                    <form th:action="@{/admin/categories/search}">
                      <div class="form-inline float-left">
                          <input type="text"
                          name="name"
                          id="name" 
                          class="form-control bg-light border-1 small"
                          style="width: 500px"
                          placeholder="Search ...." 
                          aria-label="Search"
                          aria-describedby="basic-addon2">
                          <button class="btn btn-primary" style="margin-left: 10px">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                      </div>
                    </form>
                  </div>
                  <div class="float-right mr-3">
                    <a class="btn btn-primary" th:href="@{/admin/categories/add}"
                      >Add Category
                    </a>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0" >
                      <thead >
                        <tr>
                          <th> Id</th>
                          <th> Name</th>
                          <th> Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each=" category : ${categories}">
                          <td>[[${category.id}]]</td>
                          <td th:text="${category.name}"></td>
                          <td>
                            <a
                              th:href="@{/admin/categories/view}"
                              title="view"
                              data-toggle="tooltip"
                              ><i class="material-icons">visibility</i></a
                            >
                            <a
                              th:href="@{'/admin/categories/edit/' + ${category.id}}"
                              title="Edit"
                              data-toggle="tooltip"
                              ><i class="material-icons">edit</i></a
                            >
                            <a
                              th:href="@{'/admin/categories/delete/' + ${category.id}}"
                              title="Delete"
                              data-toggle="tooltip"
                              ><i class="material-icons">delete</i></a
                            >
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
</scrip>
</body>
</html>
