<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head></head>
<body>
  <div layout:fragment="content">
    <h1 class="h3 mb-2 text-gray-800 text-center">List Categories</h1>
    <div th:if="${message != null}" class="alert alert-primary" role="alert">
        <i>[[${message}]]</i>
    </div>
    <div class="row mt-2 ml-2 mb-2">
            <div class="float-left">
                <form th:action="@{/admin/categories/search}">
                    <div class="form-inline float-left">
                        <label for="name">Name: </label>
                        <input type="text" class="form-control ml-2" name="name" id="name" aria-describedby="helpId" placeholder="Search ....">
                        <button class="button btn btn-outline-primary ml-2">Search</button>
                    </div>
                </form>
            </div>
            <div class="float-right mr-3 ml-auto">
                <a class="btn btn-outline-primary" th:href="@{/admin/categories/add}">Add New Category</a>
            </div>
    </div>
        <div class="shadow mb-4" >
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                      <th scope="col"> Id</th>
                      <th scope="col"> Name</th>
                      <th cope="col"> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" category : ${categories}">
                      <td scope="row">[[${category.id}]]</td>
                      <td th:text="${category.name}"></td>
                      <td>
                        <a
                        class="add"
                        th:href="@{/admin/categories/add}"
                        title="add"
                        data-toggle="tooltip"
                        ><i class="material-icons">&#xE03B;</i></a
                      >
                        <a
                          class="edit"
                          th:href="@{'/admin/categories/edit/' + ${category.id}}"
                          title="Edit"
                          data-toggle="tooltip"
                          ><i class="material-icons">&#xE254;</i></a
                        >
                        <a
                          class="delete"
                          th:href="@{'/admin/categories/delete/' + ${category.id}}"
                          title="Delete"
                          data-toggle="tooltip"
                          ><i class="material-icons">&#xE872;</i></a
                        >
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
</scrip>
</body>
</html>
